<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li><a href="/acp">Home</a></li>
        <li><a href="#" class="active">Users</a></li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<div class="container-fluid bg-white">
  <%= render 'shared/alert' %>
  <!-- START PANEL -->
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="row">
        <form action="" method="get">
          <% if can?(:destroy_m, User) or can?(:delete, User) %>
          <div class="col-md-1">
            <button type="button" class="btn multiple-action" data-action="destroy_m"><i class="pg-trash"></i></button>
          </div>
          <% end %>
          <div class="col-md-2">
            <select class="select2" name="field" style="width:100%">
              <option value="username" <%= 'selected' if params[:field] == 'username' %>>Username</option>
              <option value="email" <%= 'selected' if params[:field] == 'email' %>>Email</option>
              <option value="name" <%= 'selected' if params[:field] == 'name' %>>Full Name</option>
              <option value="phone" <%= 'selected' if params[:field] == 'phone' %>>Phone</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" id="search-table" class="form-control pull-right" name="q" value="<%= params[:q] %>" placeholder="Search ..." >
          </div>
          <div class="col-md-2">
            <div class="input-daterange input-group">
              <input type="text" class="form-control datepicker" name="date" value="<%= params[:date] %>">
            </div>
          </div>
          <div class="col-md-1">
            <button class="btn btn-info" type="submit">Search</button>
          </div>
          <!-- <div class="col-md-2">
            <%= link_to(new_acp_user_path) do %><i class="fs-14 pg-plus">Add new</i><% end %>
          </div> -->
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <form action="" method="post" id="data-table">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <table class="table table-hover demo-table-search">
          <thead>
          <tr>
            <th style="width:3%">
              <div class="checkbox ">
                <input type="checkbox" id="check-all">
                <label for="check-all"></label>
              </div>
            </th>
            <th style="width:10%">Avatar</th>
            <th style="width:15%">Username</th>
            <th style="width:15%">Email</th>
            <th style="width:15%">Full Name</th>
            <th style="width:10%">Phone</th>
            <th style="width:5%">Level</th>
            <th style="width:10%">Kinh nghiệm</th>
            <th style="width:10%">Ngày tạo</th>
            <% if can?(:update, User) or can?(:delete, User) %>
            <th style="width:7%">Action</th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @data.each do |item| %>
              <tr id="row_page_<%= item.id %>">
                <td class="v-align-middle">
                  <div class="checkbox ">
                    <input type="checkbox" name="item_id[]" value="<%= item.id %>" class="check-all" id="checkbox-<%= item.id %>">
                    <label for="checkbox-<%= item.id %>"></label>
                  </div>
                </td>
                <td class="v-align-middle">
                  <% if item.avatar? %>
                    <img src="<%= item.avatar.minisquare.url %>" class="img-thumbnail">
                  <% else %>
                    <img src="/assets/img/no_image.jpg" class="img-thumbnail" width="100" height="100">
                  <% end %>
                </td>
                <td class="v-align-middle">
                  <%= link_to(acp_user_path(item)) do %><p><%= item.username %></p><% end %>
                </td>
                <td class="v-align-middle">
                  <p><%= item.email %></p>
                </td>
                <td class="v-align-middle">
                  <p><%= item.name %></p>
                </td>
                <td class="v-align-middle">
                  <p><%= item.phone %></p>
                </td>
                <td class="v-align-middle">
                  <% if item.user_level.present?%>
                    <p><%= item.user_level.level %></p>
                  <%end%>
                </td>
                <td class="v-align-middle">
                  <p><%= item.user_exp %></p>
                </td>
                <td class="v-align-middle">
                  <p><%= item.created_at.strftime('%d/%m/%Y') %></p>
                </td>
                <% if can?(:update, User) or can?(:delete, User) %>
                <td class="v-align-middle">
                  <div class="text-nowrap text-center">
                    <%= link_to(edit_acp_user_path(item), {class: "btn btn-xs btn-success"}) do %><i class="fa fa-pencil"></i><% end %>
                    <%= link_to(acp_user_path(item), {class: "btn btn-xs btn-success", method: 'delete', data: { confirm: 'Are you sure ?'}}) do%><i class="fa fa-trash-o"></i><% end %>
                  </div>
                </td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="row">
          <div class="pull-right">
            <div class="col-xs-12">
              <%= paginate @data %>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END PANEL -->
</div>