<div class="page-sidebar" data-pages="sidebar">
  <div id="appMenu" class="sidebar-overlay-slide from-top"></div>
  <!-- BEGIN SIDEBAR HEADER -->
  <div class="sidebar-header">
    <img src="/assets/img/LS_logo.png" alt="logo" class="brand" data-src="/assets/img/LS_logo.png" data-src-retina="/assets/img/LS_logo.png" width="55">
    <div class="sidebar-header-controls">
        <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i></button>
        <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i></button>
    </div>
  </div>
  <!-- END SIDEBAR HEADER -->
  <!-- BEGIN SIDEBAR MENU -->
  <div class="sidebar-menu">
    <ul class="menu-items">
      <!--BEGIN USERS-->
      <li class="<% if controller_name == 'users' %>active<% end %>  m-t-30">
        <a href="#">
          <span class="title">Users</span>
          <span class="arrow<% if controller_name == 'users' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'users' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_users_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'users' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_user_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END USERS-->

      <!--BEGIN IDOLS-->
      <li class="<% if controller_name == 'broadcasters' %>active<% end %>">
        <a href="#">
          <span class="title">Idols</span>
          <span class="arrow<% if controller_name == 'broadcasters' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'broadcasters' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_broadcasters_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'broadcasters' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_broadcaster_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END IDOLS-->

      <!--BEGIN ROOMS-->
      <li class="<% if controller_name == 'rooms' %>active<% end %>">
        <a href="#">
          <span class="title">Room</span>
          <span class="arrow<% if controller_name == 'rooms' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'rooms' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_rooms_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'rooms' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_room_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>

          <li class="<% if controller_name == 'room_types' %>active<% end %>">
            <a href="#">
              <span class="title">Types</span>
              <span class=" arrow<% if controller_name == 'room_types' %> open<% end %>"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-grid"></i></span>
            <ul class="sub-menu">
              <li class="<% if controller_name == 'room_types' && action_name == 'index' %>active<% end %>">
                <%= link_to(acp_room_types_path) do %><span class="title">List</span><% end %>
                <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
              </li>
              <li class="<% if controller_name == 'room_types' && action_name == 'new' %>active<% end %>">
                <%= link_to(new_acp_room_type_path) do %><span class="title">Add New</span><% end %>
                <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!--END ROOMS-->

      <!--BEGIN GIFTS-->
      <li class="<% if controller_name == 'gifts' %>active<% end %>">
        <a href="#">
          <span class="title">Gifts</span>
          <span class=" arrow<% if controller_name == 'gifts' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'gifts' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_gifts_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'gifts' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_gift_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END GIFTS-->

      <!--BEGIN Broadcaster Level-->
      <li class="<% if controller_name == 'broadcaster_levels' %>active<% end %>">
        <a href="#">
          <span class="title">Broadcaster Level</span>
          <span class=" arrow<% if controller_name == 'broadcaster_levels' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'broadcaster_levels' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_broadcaster_levels_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'broadcaster_levels' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_broadcaster_level_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END Broadcaster Level-->

      <!--BEGIN User Level-->
      <li class="<% if controller_name == 'user_levels' %>active<% end %>">
        <a href="#">
          <span class="title">User Level</span>
          <span class=" arrow<% if controller_name == 'user_levels' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'user_levels' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_user_levels_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'user_levels' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_user_level_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END User Level-->

      <!--BEGIN Room Action-->
      <li class="<% if controller_name == 'room_actions' %>active<% end %>">
        <a href="#">
          <span class="title">Room actions</span>
          <span class=" arrow<% if controller_name == 'room_actions' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'room_actions' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_room_actions_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'room_actions' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_room_action_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END Room Action-->

      <!--BEGIN Featured-->
      <li class="<% if controller_name == 'featureds' %>active<% end %>">
        <a href="#">
          <span class="title">Featured</span>
          <span class=" arrow<% if controller_name == 'featureds' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'featureds' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_featureds_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'featureds' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_featured_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END Feature-->

      <!--BEGIN Home Featured-->
      <li class="<% if controller_name == 'home_featureds' %>active<% end %>">
        <a href="#">
          <span class="title">Home Featured</span>
          <span class=" arrow<% if controller_name == 'home_featureds' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'home_featureds' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_home_featureds_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'home_featureds' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_home_featured_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END Home Feature-->

      <!--BEGIN Room Featured-->
      <li class="<% if controller_name == 'room_featureds' %>active<% end %>">
        <a href="#">
          <span class="title">Room Featured</span>
          <span class=" arrow<% if controller_name == 'room_featureds' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'room_featureds' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_room_featureds_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'room_featureds' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_room_featured_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END Room Feature-->

      <!--BEGIN Poster-->
      <li class="<% if controller_name == 'posters' %>active<% end %>">
        <a href="#">
          <span class="title">Poster</span>
          <span class=" arrow<% if controller_name == 'posters' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'posters' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_posters_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'posters' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_poster_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END Poster-->

      <!--BEGIN Room Background-->
      <li class="<% if controller_name == 'room_backgrounds' %>active<% end %>">
        <a href="#">
          <span class="title">Room backgrounds</span>
          <span class=" arrow<% if controller_name == 'room_backgrounds' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'room_backgrounds' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_room_backgrounds_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'room_backgrounds' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_room_background_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END Room Background-->

      <!--BEGIN Slides-->
      <li class="<% if controller_name == 'slides' %>active<% end %>">
        <a href="#">
          <span class="title">Slides</span>
          <span class=" arrow<% if controller_name == 'slides' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'slides' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_slides_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'slides' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_slide_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <!--END Slides-->

      <!--BEGIN Epay-->
      <li class="<% if controller_name == 'sms_mobiles' ||  controller_name == 'cards' || controller_name == 'banks' || controller_name == 'megabank_logs' || controller_name == 'megabanks' || controller_name == 'cart_logs' || controller_name == 'sms_logs' %>active<% end %>">
        <a href="#">
          <span class="title">Epay</span>
          <span class=" arrow<% if controller_name == 'sms_mobiles' ||  controller_name == 'cards' || controller_name == 'banks' || controller_name == 'megabank_logs' || controller_name == 'megabanks' || controller_name == 'cart_logs' || controller_name == 'sms_logs' %> open<% end %> "></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'sms_mobiles' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_sms_mobiles_path) do %><span class="title">List SMS</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'sms_mobiles' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_sms_mobile_path) do %><span class="title">New SMS</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
          <li class="<% if controller_name == 'sms_logs' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_sms_logs_path) do %><span class="title">List Card_Logs</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'cards' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_cards_path) do %><span class="title">List Card</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'cards' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_card_path) do %><span class="title">New Card</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
          <li class="<% if controller_name == 'cart_logs' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_cart_logs_path) do %><span class="title">List Card_Logs</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'banks' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_banks_path) do %><span class="title">List Banks</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'banks' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_bank_path) do %><span class="title">New Banks</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
          <li class="<% if controller_name == 'megabanks' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_megabanks_path) do %><span class="title">List Megabanks</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'megabanks' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_megabank_path) do %><span class="title">New Megabanks</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
          <li class="<% if controller_name == 'megabank_logs' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_megabank_logs_path) do %><span class="title">List Megabank_Logs</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
        </ul>
      </li>
      <!--END Epay-->

    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</div>