<div class="page-sidebar" data-pages="sidebar">
  <div id="appMenu" class="sidebar-overlay-slide from-top"></div>
  <!-- BEGIN SIDEBAR HEADER -->
  <div class="sidebar-header">
    <img src="/assets/img/LS_logo.png" alt="logo" class="brand" data-src="/assets/img/LS_logo.png" data-src-retina="/assets/img/LS_logo.png" width="55">
    <div class="sidebar-header-controls">
        <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i></button>
        <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i></button>
    </div>
  </div>
  <!-- END SIDEBAR HEADER -->
  <!-- BEGIN SIDEBAR MENU -->
  <div class="sidebar-menu">
    <ul class="menu-items">
      <!--BEGIN USERS-->
      <% if can?(:read, User) or can?(:create, User) %>
      <li class="<% if controller_name == 'users' %>active<% end %>  m-t-30">
        <a href="#">
          <span class="title">Users</span>
          <span class="arrow<% if controller_name == 'users' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <% if can?(:read, User) %>
          <li class="<% if controller_name == 'users' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_users_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can?(:create, User) %>
          <li class="<% if controller_name == 'users' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_user_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
      <!--END USERS-->

      <!--BEGIN IDOLS-->
      <% if can? :read, Broadcaster %>
      <li class="<% if controller_name == 'broadcasters' %>active<% end %>">
        <a href="#">
          <span class="title">Idols</span>
          <span class="arrow<% if controller_name == 'broadcasters' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'broadcasters' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_broadcasters_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'broadcasters' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_broadcaster_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END IDOLS-->

      <!--BEGIN ROOMS-->
      <% if can? :read, Room %>
      <li class="<% if controller_name == 'rooms' || controller_name == 'room_types' %>active<% end %>">
        <a href="#">
          <span class="title">Room</span>
          <span class="arrow<% if controller_name == 'rooms' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'rooms' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_rooms_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'rooms' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_room_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>

          <% if can? :read, RoomType %>
          <li class="<% if controller_name == 'room_types' %>open<% end %>">
            <a href="#">
              <span class="title">Types</span>
              <span class="arrow<% if controller_name == 'room_types' %> open<% end %>"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-grid"></i></span>
            <ul class="sub-menu" <% if controller_name == 'room_types' %>style="display: block;"<% end %>>
              <li class="<% if controller_name == 'room_types' && action_name == 'index' %>active<% end %>">
                <%= link_to(acp_room_types_path) do %><span class="title">List</span><% end %>
                <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
              </li>
              <li class="<% if controller_name == 'room_types' && action_name == 'new' %>active<% end %>">
                <%= link_to(new_acp_room_type_path) do %><span class="title">Add New</span><% end %>
                <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
              </li>
            </ul>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
      <!--END ROOMS-->

      <!--BEGIN GIFTS-->
      <% if can? :read, Gift %>
      <li class="<% if controller_name == 'gifts' %>active<% end %>">
        <a href="#">
          <span class="title">Gifts</span>
          <span class=" arrow<% if controller_name == 'gifts' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'gifts' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_gifts_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'gifts' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_gift_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END GIFTS-->

      <!--BEGIN Os Version-->
      <% if can? :read, AppConfig %>
      <li class="<% if controller_name == 'app_configs' %>active<% end %>">
        <a href="#">
          <span class="title">App Config</span>
          <span class=" arrow<% if controller_name == 'app_configs' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'app_configs' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_app_configs_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'app_configs' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_app_config_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END GIFTS-->

      <!--BEGIN Room Action-->
      <% if can? :read, RoomAction %>
      <li class="<% if controller_name == 'room_actions' %>active<% end %>">
        <a href="#">
          <span class="title">Actions</span>
          <span class=" arrow<% if controller_name == 'room_actions' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'room_actions' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_room_actions_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'room_actions' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_room_action_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Room Action-->

      <!--BEGIN Broadcaster Level-->
      <% if can? :read, BroadcasterLevel %>
      <li class="<% if controller_name == 'broadcaster_levels' %>active<% end %>">
        <a href="#">
          <span class="title">Broadcaster Level</span>
          <span class=" arrow<% if controller_name == 'broadcaster_levels' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'broadcaster_levels' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_broadcaster_levels_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'broadcaster_levels' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_broadcaster_level_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Broadcaster Level-->

      <!--BEGIN User Level-->
      <% if can? :read, UserLevel %>
      <li class="<% if controller_name == 'user_levels' %>active<% end %>">
        <a href="#">
          <span class="title">User Level</span>
          <span class=" arrow<% if controller_name == 'user_levels' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'user_levels' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_user_levels_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'user_levels' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_user_level_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END User Level-->

      <!--BEGIN Featured-->
      <% if can? :read, Featured %>
      <li class="<% if controller_name == 'featureds' %>active<% end %>">
        <a href="#">
          <span class="title">Featured</span>
          <span class=" arrow<% if controller_name == 'featureds' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'featureds' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_featureds_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'featureds' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_featured_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Feature-->

      <!--BEGIN Home Featured-->
      <% if can? :read, HomeFeatured %>
      <li class="<% if controller_name == 'home_featureds' %>active<% end %>">
        <a href="#">
          <span class="title">Home Featured</span>
          <span class=" arrow<% if controller_name == 'home_featureds' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'home_featureds' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_home_featureds_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'home_featureds' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_home_featured_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Home Feature-->

      <!--BEGIN Room Featured-->
      <% if can? :read, RoomFeatured %>
      <li class="<% if controller_name == 'room_featureds' %>active<% end %>">
        <a href="#">
          <span class="title">Room Featured</span>
          <span class=" arrow<% if controller_name == 'room_featureds' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'room_featureds' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_room_featureds_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'room_featureds' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_room_featured_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Room Feature-->

      <!--BEGIN Poster-->
      <% if can? :read, Poster %>
      <li class="<% if controller_name == 'posters' %>active<% end %>">
        <a href="#">
          <span class="title">Poster</span>
          <span class=" arrow<% if controller_name == 'posters' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'posters' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_posters_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'posters' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_poster_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Poster-->

      <!--BEGIN Room Background-->
      <% if can? :read, RoomBackground %>
      <li class="<% if controller_name == 'room_backgrounds' %>active<% end %>">
        <a href="#">
          <span class="title">Room backgrounds</span>
          <span class=" arrow<% if controller_name == 'room_backgrounds' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'room_backgrounds' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_room_backgrounds_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'room_backgrounds' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_room_background_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Room Background-->

      <!--BEGIN Slides-->
      <% if can? :read, Slide %>
      <li class="<% if controller_name == 'slides' %>active<% end %>">
        <a href="#">
          <span class="title">Slides</span>
          <span class=" arrow<% if controller_name == 'slides' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'slides' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_slides_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'slides' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_slide_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Slides-->

      <!--BEGIN Vips-->
      <% if can? :read, Vip %>
      <li class="<% if controller_name == 'vips' %>active<% end %>">
        <a href="#">
          <span class="title">Vips</span>
          <span class=" arrow<% if controller_name == 'vips' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'vips' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_vips_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'vips' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_vip_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Vips-->

      <!--BEGIN Vip Packages-->
      <% if can? :read, VipPackage %>
      <li class="<% if controller_name == 'vip_packages' %>active<% end %>">
        <a href="#">
          <span class="title">Vip Packages</span>
          <span class=" arrow<% if controller_name == 'vip_packages' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'vip_packages' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_vip_packages_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'vip_packages' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_vip_package_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Vip Packages-->

      <!--BEGIN Trade Logs-->
      <% if can? :read, TradeLog %>
      <li class="<% if controller_name == 'trade_logs' %>active<% end %>">
        <a href="#">
          <span class="title">Trade Logs</span>
          <span class=" arrow<% if controller_name == 'trade_logs' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'trade_logs' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_trade_logs_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Trade Logs-->

      <!--BEGIN Epay-->
      <% epay = ['sms_mobiles', 'cards', 'banks', 'megabank_logs' ,'megabanks' ,'cart_logs', 'sms_logs'] %>
      <% if can? :show, SmsMobile %>
      <li class="<% if epay.include?(controller_name) %>active<% end %>">
        <a href="#">
          <span class="title">Epay</span>
          <span class=" arrow<% if epay.include?(controller_name) %> open<% end %> "></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <% if can? :read, SmsMobile %>
          <li class="<% if controller_name == 'sms_mobiles' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_sms_mobiles_path) do %><span class="title">List SMS</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'sms_mobiles' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_sms_mobile_path) do %><span class="title">New SMS</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
          <% end %>

          <% if can? :read, SmsLog %>
          <li class="<% if controller_name == 'sms_logs' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_sms_logs_path) do %><span class="title">List Sms_Logs</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :read, Card %>
          <li class="<% if controller_name == 'cards' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_cards_path) do %><span class="title">List Card</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'cards' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_card_path) do %><span class="title">New Card</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
          <% end %>

          <% if can? :read, CartLog %>
          <li class="<% if controller_name == 'cart_logs' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_cart_logs_path) do %><span class="title">List Card_Logs</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :read, Bank %>
          <li class="<% if controller_name == 'banks' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_banks_path) do %><span class="title">List Banks</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'banks' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_bank_path) do %><span class="title">New Banks</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
          <% end %>

          <% if can? :read, Megabank %>
          <li class="<% if controller_name == 'megabanks' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_megabanks_path) do %><span class="title">List Megabanks</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'megabanks' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_megabank_path) do %><span class="title">New Megabanks</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
          <% end %>

          <% if can? :read, MegabankLog %>
          <li class="<% if controller_name == 'megabank_logs' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_megabank_logs_path) do %><span class="title">List Megabank_Logs</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
      <!--END Epay-->

      <!--BEGIN Admins-->
      <% if can? :read, Admin %>
      <li class="<% if controller_name == 'admins' %>active<% end %>">
        <a href="#">
          <span class="title">Admins</span>
          <span class=" arrow<% if controller_name == 'admins' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'admins' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_admins_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'admins' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_admin_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Admins-->

      <!--BEGIN Roles-->
      <% if can? :read, Role %>
      <li class="<% if controller_name == 'roles' %>active<% end %>">
        <a href="#">
          <span class="title">Roles</span>
          <span class=" arrow<% if controller_name == 'roles' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'roles' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_roles_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'roles' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_role_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Roles-->

      <!--BEGIN Resources-->
      <% if can? :read, Resource %>
      <li class="<% if controller_name == 'resources' %>active<% end %>">
        <a href="#">
          <span class="title">Resources</span>
          <span class=" arrow<% if controller_name == 'resources' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'resources' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_resources_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'resources' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_resource_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END Resources-->

      <!--BEGIN Reports-->
      <% if can?(:report_share, :report) or can?(:users, :report) or can?(:user_online, :report) or can?(:user_send_gifts, :report) or can?(:user_send_hearts, :report) or can?(:idol_receive_coins, :report) or can?(:idol_receive_hearts, :report) or can?(:sms, :report) or can?(:card, :report) or can?(:bank, :report) or can?(:bct_time_logs, :report) %>
      <li class="<% if controller_name == 'reports' %>active<% end %>">
        <a href="#">
          <span class="title">Report</span>
          <span class=" arrow<% if controller_name == 'reports' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <% if can? :users, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'users' %>active<% end %>">
            <%= link_to(acp_reports_users_path) do %><span class="title">Users</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :mbf_users, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'mbf_users' %>active<% end %>">
            <%= link_to(acp_reports_mbf_users_path) do %><span class="title">Mobifone Users</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :user_online, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'user_online' %>active<% end %>">
            <%= link_to(acp_reports_user_online_path) do %><span class="title">User Online</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :user_send_gifts, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'user_send_gifts' %>active<% end %>">
            <%= link_to(acp_reports_user_send_gifts_path) do %><span class="title">User Send Gifts</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :report_share, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'report_share' %>active<% end %>">
            <%= link_to(acp_reports_report_share_path) do %><span class="title">Share</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :user_send_hearts, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'user_send_hearts' %>active<% end %>">
            <%= link_to(acp_reports_user_send_hearts_path) do %><span class="title">User Send Hearts</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :idol_receive_coins, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'idol_receive_coins' %>active<% end %>">
            <%= link_to(acp_reports_idol_receive_coins_path) do %><span class="title">Idol receive coins</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :idol_receive_hearts, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'idol_receive_hearts' %>active<% end %>">
            <%= link_to(acp_reports_idol_receive_hearts_path) do %><span class="title">Idol receive hearts</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :idol_gift_logs, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'idol_gift_logs' %>active<% end %>">
            <%= link_to(acp_reports_idol_gift_logs_path) do %><span class="title">Idol gift logs</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :idol_action_logs, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'idol_action_logs' %>active<% end %>">
            <%= link_to(acp_reports_idol_action_logs_path) do %><span class="title">Idol action logs</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :idol_lounge_logs, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'idol_lounge_logs' %>active<% end %>">
            <%= link_to(acp_reports_idol_lounge_logs_path) do %><span class="title">Idol lounge logs</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :gift_logs, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'gift_logs' %>active<% end %>">
            <%= link_to(acp_reports_gift_logs_path) do %><span class="title">Gift logs</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :action_logs, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'action_logs' %>active<% end %>">
            <%= link_to(acp_reports_action_logs_path) do %><span class="title">Action logs</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :bct_time_logs, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'bct_time_logs' %>active<% end %>">
            <%= link_to(acp_reports_bct_time_logs_path) do %><span class="title">Times</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :sms, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'sms' %>active<% end %>">
            <%= link_to(acp_reports_sms_path) do %><span class="title">Sms</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :card, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'card' %>active<% end %>">
            <%= link_to(acp_reports_card_path) do %><span class="title">Card</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>

          <% if can? :bank, :report %>
          <li class="<% if controller_name == 'reports' && action_name == 'bank' %>active<% end %>">
            <%= link_to(acp_reports_bank_path) do %><span class="title">Bank</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
      <!--END Reports-->

      <!--pust notification -->
      <% if can? :read, :notification %>
      <li class="<% if controller_name == 'notifications' %>active<% end %>">
        <a href="#">
          <span class="title">Notifications</span>
          <span class=" arrow<% if controller_name == 'notifications' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'notifications' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_notifications_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'notifications' && action_name == 'pushNotification' %>active<% end %>">
            <%= link_to(new_acp_notification_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END pust notification -->

      <!--REDEEMS CODE -->
      <% if can? :read, :redeem %>
      <li class="<% if controller_name == 'redeems' %>active<% end %>">
        <a href="#">
          <span class="title">Redeem</span>
          <span class=" arrow<% if controller_name == 'redeems' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'redeems' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_redeems_path) do %><span class="title">List</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
          <li class="<% if controller_name == 'redeems' && action_name == 'new' %>active<% end %>">
            <%= link_to(new_acp_redeem_path) do %><span class="title">Add New</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
          </li>
        </ul>
      </li>
      <% end %>
      <!--END REDEEMS CODE -->

      <!--BEGIN Cache -->
      <li class="<% if controller_name == 'caches' %>active<% end %>">
        <a href="#">
          <span class="title">Cache</span>
          <span class=" arrow<% if controller_name == 'caches' %> open<% end %>"></span>
        </a>
        <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        <ul class="sub-menu">
          <li class="<% if controller_name == 'caches' && action_name == 'index' %>active<% end %>">
            <%= link_to(acp_caches_index_path) do %><span class="title">Index</span><% end %>
            <span class="icon-thumbnail"><i class="fs-14 fa fa-bars"></i></span>
          </li>
        </ul>
      </li>
      <!--END Cache -->

    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</div>