<div class="jumbotron" data-pages="parallax">
	<div class="container-fluid sm-p-l-20 sm-p-r-20">
		<div class="inner">
			<!-- START BREADCRUMB -->
			<ul class="breadcrumb">
				<li><a href="/acp">Home</a></li>
				<li><a href="#" class="active">Card Report</a></li>
			</ul>
			<!-- END BREADCRUMB -->
		</div>
	</div>
</div>
<div class="container-fluid bg-white">
	<%= render 'shared/alert' %>
	<!-- START PANEL -->
	<div class="panel panel-transparent">

		<div class="panel-heading">
			<div class="row">
				<form action="/acp/reports/bct_time_logs" method="get">
					<% if can?(:destroy_m, User) or can?(:delete, User) %>
					<div class="col-md-1">
						<button type="button" class="btn multiple-action" data-action="destroy_m"><i class="pg-trash"></i></button>
					</div>
					<% end %>
					<div class="col-md-2">
						<select class="form-control search-key"  data-url="/acp/reports/search-complete" name="room">

						</select>
					</div>
					<div class="col-md-3">
						<div class="input-daterange input-group">
							<input type="text" class="form-control" name="start_date" value="<%= params[:start_date] %>" id="start_date" aria-invalid="false">
							<span class="input-group-addon">to</span>
							<input type="text" class="form-control" name="end_date" value="<%= params[:end_date] %>" id="end_date" aria-invalid="false">
						</div>
					</div>
					<div class="col-md-1">
						<button class="btn btn-info" type="submit">Search</button>
					</div>
					<div class="col-md-5">
						<%= link_to(acp_reports_bct_time_logs_path(format: "xlsx", params: params), class: 'btn btn-complete pull-right') do %><i class="fa fa-cloud-download"></i><% end %>
					</div>
					<!-- <div class="col-md-2">
						<%= link_to(new_acp_user_path) do %><i class="fs-14 pg-plus">Add new</i><% end %>
					</div> -->
				</form>
			</div>
			<div class="clearfix"></div>
		</div>
		<style>
			.table.table-hover tbody tr.active td {
    			color: red !important;
    		}
		</style>
		<div class="panel-body">
			<form action="" method="post">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<table class="table table-hover no-more-tables">
					<thead>
						<tr>
							<th style="width:30%">Idol</th>
							<th style="width:30%">Room</th>
							<th style="width:20%">Start</th>
							<th style="width:20%">End</th>
							<th style="width:20%">Time</th>
						</tr>
					</thead>
					<tbody>
					<% total = 0%>
					<% @data.each do |item| %>
						<tr class="<% if !item.status %>active<%end%>">
							<td class="v-align-middle">
								<p><%= item.room.broadcaster.fullname %></p>
							</td>
							<td class="v-align-middle">
								<p><%= item.room.title %></p>
							</td>
							<td class="v-align-middle">
								<p><%= item.start_room %></p>
							</td>
							<td class="v-align-middle">
								<% if item.end_room != nil %>
								<p>
									<% total += (item.end_room - item.start_room).round %>
								</p>
								<%= item.end_room %>
								<% else %>
								<p style="color: red;">
									LIVE
								</p>
								<% end %>
							</td>
							<td class="v-align-middle">
								<p>
									<% if item.end_room != nil %>
									<%= Time.at((item.end_room - item.start_room).round).utc.strftime("%H:%M:%S") %>
									<% else %>
									<%= Time.at((Time.now - item.start_room).round).utc.strftime("%H:%M:%S") %>
									<% end %>
									
								</p>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</form>
			<div class="row">
				<div class="col-md-12">
					<h4>Total: <span class="semi-bold"><%= Time.at(total).utc.strftime("%H:%M:%S") %></span></h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<%= paginate @data %>
				</div>
			</div>
		</div>
	</div>
	<!-- END PANEL -->
</div>