<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li><a href="/acp">Home</a></li>
        <li><a href="#" class="active">Idol receive hearts</a></li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<div class="container-fluid bg-white">
  <%= render 'shared/alert' %>
  <!-- START PANEL -->
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="row">
        <form action="" method="get">
          <div class="col-md-3">
            <div class="input-daterange input-group">
              <input type="text" class="form-control" name="start_date" value="<%= params[:start_date] %>" id="start_date" aria-invalid="false">
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control" name="end_date" value="<%= params[:end_date] %>" id="end_date" aria-invalid="false">
            </div>
          </div>
          <div class="col-md-1">
            <button class="btn btn-info" type="submit">Search</button>
          </div>
          <div class="col-md-8">
            <%= link_to(acp_reports_idol_receive_hearts_path(format: "xlsx", params: params), class: 'btn btn-complete pull-right') do %><i class="fa fa-cloud-download"></i><% end %>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <form action="" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <table class="table table-hover no-more-tables">
          <thead>
          <tr>
            <th style="width:20%">Avatar</th>
            <th style="width:20%">Name</th>
            <th style="width:20%">Email</th>
            <th style="width:20%">Hearts</th>
          </tr>
          </thead>
          <tbody>
          <% @data.each do |item| %>
            <tr id="row_page_<%= item.room.id %>">
              <td class="v-align-middle">
                <% if item.room.broadcaster.user.avatar? %>
                  <img src="<%= item.room.broadcaster.user.avatar.minisquare.url %>" class="img-thumbnail">
                <% else %>
                  <p>No Image</p>
                <% end %>
              </td>
              <td class="v-align-middle">
                <%= link_to(edit_acp_broadcaster_path(item.room.broadcaster)) do %><p><%= item.room.broadcaster.fullname %></p><% end %>
              </td>
              <td class="v-align-middle">
                <p><%= item.room.broadcaster.user.email %></p>
              </td>
              <td class="v-align-middle">
                <p><%= item.quantity %></p>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </form>
      <div class="row">
        <div class="col-md-12">
          <%= paginate @data %>
        </div>
      </div>
    </div>
  </div>
  <!-- END PANEL -->
</div>