<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li><a href="/acp">Home</a></li>
        <li><a href="#" class="active">User Report</a></li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<div class="container-fluid bg-white">
  <%= render 'shared/alert' %>
  <!-- START PANEL -->
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="row">
        <form action="" method="get">
          <div class="col-md-3">
            <div class="input-daterange input-group">
              <input type="text" class="form-control" name="start_date" value="" id="start_date" aria-invalid="false">
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control" name="end_date" value="" id="end_date" aria-invalid="false">
            </div>
          </div>
          <div class="col-md-1">
            <button class="btn btn-info" type="submit">Search</button>
          </div>
          <div class="col-md-8">
            <button class="btn btn-complete pull-right"><span><i class="fa fa-cloud-download"></i></span></button>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <form action="" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <table class="table table-hover no-more-tables">
          <thead>
          <tr>
            <th style="width:20%">Avatar</th>
            <th style="width:20%">Bí danh</th>
            <th style="width:20%">Email</th>
            <th style="width:15%">Cấp độ</th>
            <th style="width:15%">Kinh nghiệm</th>
            <th style="width:10%">Ngày tạo</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |item| %>
            <tr id="row_page_<%= item.id %>">
              <td class="v-align-middle">
                <% if item.avatar? %>
                  <img src="<%= item.avatar.minisquare.url %>" class="img-thumbnail">
                <% else %>
                  <p>No Image</p>
                <% end %>
              </td>
              <td class="v-align-middle">
                <%= link_to(edit_acp_user_path(item)) do %><p><%= item.username %></p><% end %>
              </td>
              <td class="v-align-middle">
                <p><%= item.email %></p>
              </td>
              <td class="v-align-middle">
                <p><%= item.user_level.level %></p>
              </td>
              <td class="v-align-middle">
                <p><%= item.user_exp %></p>
              </td>
              <td class="v-align-middle">
                <p><%= item.created_at.strftime('%d/%m/%Y') %></p>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <!-- END PANEL -->
</div>