<div class="row">
  <div class="col-md-12">
    <!-- START PANEL -->
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for [:acp, @data], :html => {:class => "form_#{controller_name}", multipart: true } do |f| %>
            <% if @data.errors.any? %>
                <div class="alert alert-danger" role="alert">
                  <button class="close" data-dismiss="alert"></button>
                  <p>Có <%= pluralize(@data.errors.count, "") %> lỗi xảy ra, Bạn không thể lưu quà tặng này: </p>
                  <ul><% @data.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
                </div>
            <% end %>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group form-group-default required">
                  <label>Name</label>
                  <input type="text" class="form-control" name="data[name]" value="<%= @data.name %>" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-group-default required">
                  <label>Code</label>
                  <input type="text" class="form-control" name="data[code]" value="<%= @data.code %>" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group form-group-default">
                  <label>Description</label>
                  <input type="text" class="form-control" name="data[description]" value="<%= @data.description %>">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-group-default">
                  <label>Weight</label>
                  <input type="number" class="form-control" name="data[weight]" value="<%= @data.weight %>">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Permissions</label>
                </div>
              </div>
            </div>
            <% @permissions.each do |key, permission| %>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label><%= key %></label>
                </div>
              </div>
              <% permission.each do |resource| %>
                <% checked = 'checked' if @data.acls.find_by(resource_id: resource.id).present?%>
              <div class="col-sm-3">
                <div class="checkbox check-danger">
                  <input id="checkbox-<%= resource.id %>" name="resources[]" type="checkbox" value="<%= resource.id %>" <%= checked %>>
                  <label for="checkbox-<%= resource.id %>"><%= resource.name %></label>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
            <div class="row">
              <button class="btn btn-primary btn-cons from-left pull-right" type="submit" value="Submit">
                <span>Lưu</span>
              </button>
            </div>
        <% end %>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>
