<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid sm-p-l-20 sm-p-r-20">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a href="/acp">Home</a></li>
                <li><a href="/acp/<%= controller_name %>">Idols</a></li>
                <li><a href="#" class="active">Idol Detail</a></li>
            </ul>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid bg-white">
    <%= render 'shared/alert' %>
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <span class="bold">IDOl: <%= @data.fullname %></span> | (tài khoản: <%= @data.user.username %>)
        </div>
        <div class="panel-body">
            <div class="pull-left">
                <ul class="nav nav-tabs nav-tabs-simple" role="tablist">
                    <li class="">
                        <a href="/acp/broadcasters/<%= @data.id %>/basic/<%= @data.user.id %>">Thông tin cơ bản</a>
                    </li>
                    <li class="">
                        <a href="/acp/broadcasters/<%= @data.id %>/edit">Thông tin nâng cao</a>
                    </li>
                    <li class="">
                        <a href="/acp/broadcasters/<%= @data.id %>/room/<%= @data.rooms.find_by_is_privated(false).id %>">Phòng</a>
                    </li>
                    <li class="">
                        <a href="/acp/broadcasters/<%= @data.id %>/gifts">Quả tặng được nhận</a>
                    </li>
                    <li class="active">
                        <a href="#">Hình ảnh</a>
                    </li>
                    <li class="">
                        <a href="/acp/broadcasters/<%= @data.id %>/videos">Videos</a>
                    </li>
                    <li class="">
                        <a href="/acp/broadcasters/<%= @data.id %>/transactions">Giao dịch</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-heading">
          <div class="pull-left">
              <div class="col-xs-12">
                  <button class="btn multiple-action" data-action="destroy_m"><i class="pg-trash"></i></button>
              </div>
          </div>
          <div class="pull-left">
            <%= form_tag acp_bct_images_path, multipart: true do %>
              <input type="hidden" name="bct_image[broadcaster_id]" value="<%= @data.id %>">
              <div class="col-xs-6">
                  <input type="file" name="bct_image[image]">
              </div>
              <div class="col-xs-6">
                  <button class="btn btn-success" name="save">Submit</button>
              </div>
            <% end %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <form action="" method="post" id="data-table">
              <table class="table table-hover demo-table-search data-table">
                <thead>
                  <tr>
                      <th style="width:3%">
                        <div class="checkbox ">
                          <input type="checkbox" id="check-all">
                          <label for="check-all"></label>
                        </div>
                      </th>
                      <th style="width:90%">Hình ảnh</th>
                      <th style="width:7%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @images.each do |item| %>
                    <tr id="row_page_<%= item.id %>">
                      <td class="v-align-middle">
                        <div class="checkbox ">
                            <input type="checkbox" name="item_id[]" value="<%= item.id %>" class="check-all" id="checkbox-<%= item.id %>">
                            <label for="checkbox-<%= item.id %>"></label>
                        </div>
                      </td>
                      <td class="v-align-middle">
                        <img src="<%= item.image_url %>" class="img-thumbnail" >
                      </td>
                      <td class="v-align-middle">
                        <%= link_to("/acp/broadcasters/#{@data.id}/image/#{item.id}", {class: "btn btn-xs btn-success", method: 'delete', data: { confirm: 'Are you sure ?'}}) do%><i class="fa fa-trash-o"></i><% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </form>
        </div>
    </div>
    <!-- END PANEL -->
</div>