<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid sm-p-l-20 sm-p-r-20">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a href="/acp">Home</a></li>
                <li><a href="/acp/<%= controller_name %>">Idols</a></li>
                <li><a href="#" class="active">Add</a></li>
            </ul>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid bg-white">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-body">
            <%= form_for [:acp, @data], :html => {:class => "form_#{controller_name}", multipart: true} do |f| %>
                <% if @data.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@data.errors.count, "error") %> prohibited this room type from being saved:</h2>
                    <ul><% @data.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
                  </div>
                <% end %>
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-12">Banner</label>
                    <div class="col-sm-5">
                      <input type="file" name="room[thumb]" >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-12">Idols</label>
                    <div class="col-sm-2">
                        <select class="form-control select2" name="room[broadcaster_id]">
                            <% @idols.each do |idol| %>
                            <option value="<%= idol.id %>" <% if idol.id == @data.broadcaster_id %>selected<% end %>><%= idol.fullname %></option>
                            <% end %>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-12">Title</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="room[title]" value="<%= @data.title %>" >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-12">Room type</label>
                    <div class="col-sm-2">
                        <select class="form-control select2" name="room[room_type_id]">
                            <% @room_types.each do |type| %>
                            <option value="<%= type.id %>" <% if type.id == @data.room_type_id %>selected<% end %>><%= type.title %></option>
                            <% end %>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-success" name="save">Save</button>
                        <button class="btn" name="save_and_add_another">Save and add another</button>
                        <button class="btn" name="save_and_edit">Save and edit</button>
                        <a href="/acp/<%= controller_name %>" class="btn"><i class="fs-14 pg-close"></i>Cancel</a>
                    </div>
                  </div>
                </div>
            <% end %>
        </div>
    </div>
    <!-- END PANEL -->
</div>