<div class="row">
  <div class="col-md-12">
    <!-- START PANEL -->
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for [:acp, @data], :html => {:class => "form_#{controller_name}"} do |f| %>
            <% if @data.errors.any? %>
                <div class="alert alert-danger" role="alert">
                  <button class="close" data-dismiss="alert"></button>
                  <p>Có <%= pluralize(@data.errors.count, '') %> lỗi xảy ra, Bạn không thể lưu:</p>
                  <ul><% @data.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
                </div>
            <% end %>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group form-group-default required">
                  <label>Mệnh giá</label>
                  <input type="number" class="form-control" name="data[price]" value="<%=@data.price%>" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-group-default required">
                  <label>Số xu nhận được</label>
                  <input type="number" class="form-control" name="data[coin]" value="<%=@data.coin%>" required>
                </div>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-primary btn-cons from-left pull-right" type="submit" value="Submit">
                <span>Cập nhật</span>
              </button>
            </div>
        <% end %>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>
